
$primary-color: #6353aa;
$primary-color--dark: #3d3469;
$primary-color--hover: #8a7cd1;

$bg--light: #fff;
$text-color--light: #222;

$bg--dark: #222;
$text-color--dark: #fff;

html {
    --text-color: #{$text-color--light};
    --background-color: #{$bg--light};
    --button-text-color: #{$text-color--dark};
    --button-color: #{$primary-color};
    --button-color--hover: #{$primary-color--hover};

    &[data-theme="dark"] {
        --text-color: #{$text-color--dark};
        --background-color: #{$bg--dark};
        --button-color--hover: #fff;
    }
}

  