@use "vars";
@use "color-themes";
@use "utils";

.reset-container {
    @include utils.main-page-container;
    justify-content: center;
    align-items: center;

    & .confirmation-container {
        padding-top: vars.$padding-small;
        display: none;
    }
}