@use "vars";
@use "color-themes";
@use "utils";

.exerseaza {
    @include utils.main-page-container;
}

.question-categories {
    @include utils.card;

    text-align: center;
    // border: 3px solid red; // for testing purposes
    padding: vars.$padding-small;
    gap: vars.$padding-small;
    // background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        margin: 0;
    }

    &__container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        & > * {
            flex: 1 0 40%;
        }

        @media only screen and (max-width: vars.$media-query-size-big) {
            flex-direction: column;
            & > * {
                flex: unset;
            }
        }
        gap: vars.$padding-small;
    }

    a {
        // width: unset;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            width: 100%;
        }
    }
}

.question-category {
    @include utils.card;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: vars.$padding-small;

    background-color: color-themes.$secondary-color;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: color-themes.$secondary-color--hover;
    }
    color: white;
    
    p {
        margin: 0;
    }
}
