@use "vars";
@use "color-themes";
@use "utils";

.indicatoare {
    @include utils.main-page-container; 
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: vars.$padding-small;

    * {
        color: var(--text-color);
    }

    // a, .card-wrapper {
    //     flex: 0 0 30%;
    //     
    //     display: inline-block;
    // }
}

.category-card {
    flex: 0 0 30%;
    //width: 30vh;
    text-align: center;
    // flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    border-radius: vars.$border-radius;
    // background-color: red;flex: 1;
    box-shadow: 0px 0px 2px transparentize($color: #777777, $amount: 0.2);
    padding: vars.$padding-small;
    gap: vars.$padding-small;
    // height: 100%;
    
    &__title {
        margin: 0;
        padding-bottom: 1rem;
    }

    img {
        width: 300px;
        //aspect-ratio: 16/9;

        @media only screen and (max-width: vars.$media-query-size-small) {
            width: 200px;
        }
    }

    &__body {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: vars.$padding-small;

        img {
            // position: relative;
            // min-width: 100%;
            flex-grow: 100%;
            flex-basis: 100%;
            flex-shrink: 100%;
            object-fit: contain;
        }


        & > * {
            flex-grow: 0;
        }

        & :nth-last-child(2) {
            justify-content: flex-start;
            flex-grow: 1;
        }
        
        & :nth-last-child(1), & :nth-last-child(2) {
            justify-self: flex-end;
            // flex-grow: 1;
            // color: red;
        }
    }

    &__title {
        padding-bottom: 0;
    }
}
