@use "vars";
@use "color-themes";
@use "utils";

.profile {
    @include utils.main-page-container;

    .confirmation-container {
        display: none;
        text-align: center;
    }

    .button {
        display: flex;
        background-color: var(--link-color);
    }
}

.profile-card {
    @include color-themes.secondary;
    
    @include utils.card;

    display: flex;
    flex-direction: column;
    padding: vars.$padding-small;
    gap: vars.$padding-small;

    &__buttons {
        display: flex;
        //padding: vars.$padding-small;
        gap: vars.$padding-small;
        justify-content: center;
        height: 100%;
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }

    @media only screen and (max-width: vars.$media-query-size-small) {

        &__buttons {
            justify-content: left;
        }
        
        &__row {
            display: flex;
            flex-direction: column;
        }

        .profile-field__content {
            p {
                text-align: left;
            }
        }
    }
}

.profile-field {
    &__title {
        display: flex;
        font-size: 1.25rem;
        align-items: center;
        p {
            margin: 0;
        }
    }

    &__content {
        font-size: 1rem;
        justify-content: right;

        
        max-width: 200px;
        width: 200px;
        
        p {
            text-align: center;
        }
        
        button {
            width: 200px;
        }
    }
}