@use "utils";
@use "vars";
@use "color-themes";

$media-query-leaderboard: 1200px;

.leaderboard {
    display: flex;
    background-color: var(--background-color);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: vars.$padding-small;
    box-sizing: border-box;
    width: 75%;
    margin-bottom: vars.$padding-big;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    border-collapse: collapse;
    border: 1px solid #777777;
    border-radius: 10px;

    &__rank {
        text-align: left;
        width: 10%;
    }

    &__percentage, &__correct, &__questionnaires {
        width: 15%;
    }

    h1 {
        margin: 0;
        margin-top: vars.$padding-small;
        // padding-bottom: 20px;
        text-align: center;
        width: 100%;
    }

    table {
        border-radius: 25px;
        width: 100%;
        border-spacing: 0;
        border-color: #777777;
        table-layout: fixed;
        cursor: default;
    }

    th {
        color: white;
        font-size: 1.20rem;
        padding: vars.$padding-small;
        word-wrap: break-word;
        // text-transform: capitalize;
        //gap: vars.$padding-small;
        @media only screen and (max-width: $media-query-leaderboard) {
            font-size: 1rem;
        }
    }

    tr {
        transition: all 0.2s ease-in-out;
        border-radius: 0.2rem;
    }

    thead > tr {
        background-color: color-themes.$primary-color--dark;

        height: 8rem;
        padding: 1rem 3rem;
        position: relative;
        
        border-radius: 25px 25px 0 0;

        @media only screen and (max-width: vars.$media-query-size-small) {
            * {
                font-size: 0.8rem;
            }
        }

        @media only screen and (max-width: calc(vars.$media-query-size-small - 100px)) {
            * {
                font-size: 0.6rem;
            }
        }

    }

    td {
        height: 4rem;
        font-size: 1.0rem;
        padding: 1rem 2rem;
        position: relative;
        color: var(--text-color);

        @media only screen and (max-width: $media-query-leaderboard) {
            font-size: 0.8rem;
        }

    }
    
    tbody { 

        @media only screen and (max-width: vars.$media-query-size-small) {
            * {
                font-size: 0.8rem;
            }
        }
        
        @media only screen and (max-width: calc(vars.$media-query-size-small - 100px)) {
            * {
                font-size: 0.6rem;
            }
        }

        tr:first-child {
            background-color: color-themes.$secondary-color;
            td {
                color: white;
            }

            &:hover {
                transform: scale(1.1);
            }
        }

        tr:not(:first-child):hover {
            background-color: color-themes.$primary-color;
            transform: scale(1.1);
            td {
                color: white;
            }
        }

        tr:nth-child(2n + 3) {
            background-color: var(--leaderboard-nth-even-color);
            &:hover {
                box-shadow: 0 0 20px var(--leaderboard-nth-even-color);
            }
        }

        td:not(:nth-child(2)) {
            font-weight: bold;
        }
        
        td:nth-child(n + 3) {
            text-align: center;
            padding: 0;
        }
    }


    @media only screen and (max-width: $media-query-leaderboard) {

        col, td, th {
            padding: 0.2rem;
            // display only after one category
            // tbd how to select which (menu for selecting category?)
            &:nth-child(n + 4) {
                display: none;
            }
        }

        &__rank {
            text-align: left;
            width: 10%;
        }

        &__percentage {
            width: 25%;
        }

        &__correct, &__questionnaires {
            width: 0%;
        }
    }

    .leaderboard-buttons {
        width: 100%;
        margin-top: 3rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        gap: 2rem;
    }


}