@use "vars";
@use "color-themes";
@use "utils";

.welcome-container {
    @include utils.full-screen;
    
    * {
        color: var(--text-color);
    }

    display: flex;

    > * {
        flex-grow: 1;
        flex-basis: 0;
    }

    &__left {
        padding: vars.$padding-big;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: color-themes.$primary-color--dark;
        > * {
            color: #fff;
            margin-bottom: 2rem;
        }

        > h1 {
            font-family: vars.$font-display;
            font-size: 6rem;
        }
    }

    &__right {
        background-image: url("../img/trafic.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

.features-container {
    @include utils.full-screen;

    background-color: var(--background-color);

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: vars.$padding-big;
    box-sizing: border-box;

    &__description {
        text-align: center;
    }

    > .features-wrapper {
        display: flex;
        flex-direction: row;
        height: 50%;
        gap: vars.$padding-small;

        > .feature-card {
            flex: 1;
            box-shadow: 0px 0px 2px transparentize($color: #777777, $amount: 0.2);
            padding: vars.$padding-small;
            gap: vars.$padding-small;
            display: flex;
            justify-content: flex-start;
            // justify-content: stretch;
            flex-direction: column;

            & > * {
                flex-grow: 1;
            }

            // second to last and last children of card (image and button)
            & > *:nth-last-child(1), & > *:nth-last-child(2) {
                flex-grow: 0;
            }
            
            > button {
                justify-self: flex-end;
            }
            
            > img {
                box-shadow: 0px 0px 2px transparentize($color: #777777, $amount: 0.2);
                object-fit: cover;
                aspect-ratio: 16 / 9;
                max-width: 100%;
            }
        }
    }
}


@media only screen and (max-width: 800px) {
    .welcome-container__right {
        display: none;
    }
  } 
  
@media only screen and (max-width: 600px) {
    .features-container > .features-wrapper {
        flex-direction: column;
    }

    .welcome-container__left, .features-container {
        padding: vars.$padding-small;
    }
}
