@use "vars";
@use "color-themes";

.navbar {
  background-color: color-themes.$primary-color;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  position: fixed;
  top: 0;
  width: 100%;
 
  &__brand {
    display: flex;
    align-items: center;
    padding: vars.$padding-small;

    > h1 {
      margin: 0;
    }
  }

  &__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  &__item {
    height: 100%;
    display: flex;

    
  .dark-switch {
    margin: vars.$padding-small;
    align-self: center;
    justify-self: center;
  }
  }


  &__link {
    height: 100%;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    padding: vars.$padding-small;
    transition: background-color 0.3s ease;
    
    > p {
      margin: 0;
    }

    &:hover {
      background-color: color-themes.$primary-color--hover;
    }
  }

}







