@use "vars";
@use "color-themes";
@use "utils";

.welcome-container {
    @include utils.full-screen;
    
    * {
        color: var(--text-color);
    }

    display: flex;

    > * {
        flex-grow: 1;
        flex-basis: 0;
    }

    &__left {
        padding: vars.$padding-big;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: color-themes.$primary-color--dark;
        > * {
            color: #fff;
            margin-bottom: 2rem;
        }

        > h1 {
            font-family: vars.$font-display;
            font-size: 6rem;
        }
    }

    &__buttons {
        width: 100%;
        display: flex;
        & > * {
            flex: 1;
        }
        gap: vars.$padding-small;

        button {
            width: 100%;
            color: #fff;
        }
    }

    &__right {
        background-image: url("../img/trafic.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

.features-container {
    @include utils.full-screen;

    background-color: var(--background-color);

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: vars.$padding-big;
    box-sizing: border-box;


    &__description {
        text-align: center;
    }

    .features-wrapper {
        
        @media only screen and (min-width: vars.$media-query-size-biggest) {
            max-width: 160rem;
            align-self: center;
        }
        display: flex;
        flex-direction: row;
        height: 50%;
        gap: vars.$padding-small;
        justify-content: stretch;
        
        .feature-card {
            @include utils.card;
            
            color: var(--text-color);
            flex: 1;
            gap: vars.$padding-small;
            display: flex;
            justify-content: stretch;
            flex-direction: column;

            padding: vars.$padding-small;

            & > :nth-child(1) {
                flex-grow: 1;
            }
            
            & > :nth-last-child(1) {
                flex-grow: 0;
                width: 100%;
                display: block;
                color: #fff;
            }
            
            img {
                box-shadow: vars.$box-shadow;
                object-fit: cover;
                aspect-ratio: 16 / 9;
                max-width: 100%;
            }
        }
    }

    
    
}


@media only screen and (max-width: vars.$media-query-size-big) {
    .welcome-container__right {
        display: none;
    }
  } 
  
@media only screen and (max-width: vars.$media-query-size-small) {
    .features-container > .features-wrapper {
        flex-direction: column;
    }

    .welcome-container__left, .features-container {
        padding: vars.$padding-small;
    }
}
