@use "vars";
@use "color-themes";
@use "utils";

.indicatoare {
    @include utils.main-page-container; 
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: vars.$padding-small;
}

.category-card {
    flex: 0 0 30%;
    text-align: center;
    // flex-basis: 20%;
    display: flex;
    padding: vars.$padding-small;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: vars.$border-radius;
    // background-color: red;flex: 1;
    box-shadow: 0px 0px 2px transparentize($color: #777777, $amount: 0.2);
    padding: vars.$padding-small;
    gap: vars.$padding-small;
    
    &__title {
        margin: 0;
        padding-bottom: 1rem;
    }

    a {
        color: var(--text-color);
    }

    img {
        width: 300px;
    }
}
