@use "vars";
@use "color-themes";

@mixin full-screen {
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

@mixin button {
    padding: vars.$padding-small;
    font-family: vars.$font;
    font-size: vars.$font-size;
    border-radius: vars.$border-radius;
    background-color: color-themes.$primary-color;
    color: color-themes.$text-color--dark;
    border: none;
    // border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: color-themes.$primary-color--hover;
    }
}
