@use "vars";
@use "color-themes";

@mixin full-screen {
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

@mixin card {
    box-shadow: vars.$box-shadow;
    border-radius: vars.$border-radius;
    box-sizing: border-box;
}

.button {
    padding: vars.$padding-small;
    font-family: vars.$font;
    font-size: vars.$font-size;
    border-radius: vars.$border-radius;
    background-color: color-themes.$primary-color;
    color: color-themes.$text-color--dark;
    border: none;
    // border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;

    &:hover {
        background-color: color-themes.$primary-color--hover;
    }
}

@mixin button {
    padding: vars.$padding-small;
    font-family: vars.$font;
    font-size: vars.$font-size;
    border-radius: vars.$border-radius;
    background-color: color-themes.$primary-color;
    color: color-themes.$text-color--dark;
    border: none;
    // border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: color-themes.$primary-color--hover;
    }
}

@mixin main-page-container {
    width: 100%;
    box-sizing: border-box;
    padding: vars.$padding-big;
    padding-bottom: calc(vars.$padding-big + 2rem);
    padding-top: vars.$padding-small;
    gap: vars.$padding-small;
    display: flex;
    flex-direction: column;

    &__info {
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: vars.$padding-small;
        margin-bottom: vars.$padding-big;
    }

    &__title {
        text-align: center;
    }

    @media only screen and (max-width: vars.$media-query-size-small) {
        padding: vars.$padding-small;
        padding-bottom: calc(vars.$padding-big + 2rem);
    }

    @media only screen and (min-width: vars.$media-query-size-biggest) {
        max-width: 100rem;
    }

    align-self:center;

}
