@use "./vars.scss";
@use "./style-index.scss";
@use "./style-login.scss";
@use "./style-navbar.scss";



body {
  font-family: vars.$font;
  margin: 0;
}

.flex-center-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.flex-column {
  display: flex;
  flex-direction: column;
}