@use "vars";
@use "utils";
@use "style-index";
@use "style-login";
@use "style-navbar";


body {
  font-family: vars.$font;
  margin: 0;
}

button {
  @include utils.button;
}

// todo: move below to utils
.flex-center-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.flex-column {
  display: flex;
  flex-direction: column;
}