<div class="footer__addr">
    <h1 class="footer__logo">RoT</h1>
    <h2>Contact</h2>
    <address>
        Strada 1-2-3-4 Terra 11-2 <br />
        <a class="footer__button" href="mailto:example@mail.ro"
            >Trimite-ne un email</a
        >
    </address>
</div>

<ul class="footer__nav">
    <li class="nav__item">
        <a href="/about">
            <h2 class="nav__title">Despre noi</h2>
            <ul class="nav__ul">
                <li>Chirvasa George-Matei</li>
                <li>Prodan Sabina-Alina</li>
            </ul>
        </a>
    </li>
    <li class="nav__item">
        <h2 class="nav__title">Links</h2>
        <ul class="nav__ul">
            <li>
                <a href="https://github.com/MediocreKarma/tw-rot">Github</a>
            </li>
            <li>
                <a href="https://tehnologii-web.vercel.app">Tehnologii Web</a>
            </li>
            <li>
                <a href="https://www.info.uaic.ro">FII UAIC</a>
            </li>
        </ul>
    </li>
    <li class="nav__item">
        <a href="/help"><h2 class="nav__title">Ajutor</h2></a>
    </li>
</ul>

<div class="footer__legal">
    <p>&copy; 2024 RoT, FII, UAIC Iași</p>
    <div class="legal__extensions">Made with HTML, SCSS, JS</div>
</div>
