@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
html {
  --text-color: #222;
  --background-color: #fff;
  --button-text-color: #fff;
  --button-color: #6353aa;
  --button-color--hover: #8a7cd1;
}
html[data-theme=dark] {
  --text-color: #fff;
  --background-color: #222;
  --button-color--hover: #fff;
}

.welcome-container {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
}
.welcome-container * {
  color: var(--color-text);
}
.welcome-container > * {
  flex-grow: 1;
  flex-basis: 0;
}
.welcome-container__left {
  padding: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3d3469;
}
.welcome-container__left > * {
  color: #fff;
  margin-bottom: 2rem;
}
.welcome-container__left > h1 {
  font-family: "Inconsolata", monospace;
  font-size: 6em;
}
.welcome-container__right {
  background-image: url("../img/trafic.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.features-container {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--background-color);
}

.login-container__title {
  text-align: center;
  margin-bottom: 20px;
}

.login-form__group {
  margin-bottom: 15px;
}
.login-form__label {
  display: block;
  margin-bottom: 5px;
}
.login-form__input {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.login-form__button {
  padding: 1em;
  font-family: "Space Grotesk", sans-serif;
  border-radius: 3px;
  background-color: var(--button-color);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.login-form__button:hover {
  background-color: var(--button-color--hover);
}

.navbar {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  background-color: #6353aa;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
}
.navbar__brand {
  color: #fff;
  margin: 0;
}
.navbar__brand h1 {
  margin: 0;
}
.navbar__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.navbar__item {
  margin: 0;
  margin-left: 20px;
}
.navbar__link {
  margin: 0;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
.navbar__link:hover {
  text-decoration: underline;
}

body {
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
}

button {
  padding: 1em;
  font-family: "Space Grotesk", sans-serif;
  border-radius: 3px;
  background-color: var(--button-color);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: var(--button-color--hover);
}

.flex-center-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
