@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
body {
  --button-text-color: #fff;
  --button-color: #6353aa;
  --button-color--hover: #8a7cd1;
}
body[data-theme=light] {
  --text-color: #222;
  --background-color: #fff;
}
body[data-theme=dark] {
  --text-color: #fff;
  --background-color: #222;
}

.header__dark-switch {
  display: flex;
}
.header__dark-switch label {
  position: relative;
  display: inline-block;
  top: 0.33rem;
  height: 1rem;
  width: 1.5rem;
  cursor: pointer;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
}
.header__dark-switch label {
  width: 2.5rem;
}
.header__dark-switch input {
  display: none;
  position: absolute;
  opacity: 0;
}
.header__dark-switch span {
  position: absolute;
  top: -0.25rem;
  left: 0;
  display: flex;
  height: 1.5rem;
  width: 1.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: #8a7cd1;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
}
.header__dark-switch span * {
  width: 50%;
  height: 50%;
  color: white;
}
.header__dark-switch input:checked + label span {
  left: 1rem;
}

.header {
  background-color: #6353aa;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}
.header a {
  color: #FFF;
}
.header__dark-switch {
  position: relative;
  padding-right: 1rem;
  top: 1rem;
  float: right;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #6353aa;
}
.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}
.header li a:hover {
  background-color: #8a7cd1;
}
.header .logo {
  display: block;
  float: left;
  font-size: 32px;
  padding: 10px 20px;
  text-decoration: none;
}
.header .logo:hover {
  background-color: #8a7cd1;
}
.header__icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header__icon .navicon {
  background-color: #FFF;
  display: block;
  height: 2px;
  position: relative;
  transition: 0.2s ease-out;
  width: 18px;
}
.header__icon .navicon:before, .header__icon .navicon:after {
  background: #FFF;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.header__icon .navicon:before {
  top: 5px;
}
.header__icon .navicon:after {
  top: -5px;
}
.header__button {
  display: none;
}
.header__button:checked ~ .header__list {
  max-height: 240px;
}
.header__button:checked ~ .header__icon .navicon {
  background: transparent;
}
.header__button:checked ~ .header__icon .navicon:before {
  transform: rotate(-45deg);
}
.header__button:checked ~ .header__icon .navicon:after {
  transform: rotate(45deg);
}
.header__button:checked ~ .header__icon:not(.steps) .navicon:before, .header__button:checked ~ .header__icon:not(.steps) .navicon:after {
  top: 0;
}
.header__list {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

@media only screen and (min-width: 820px) {
  .header__dark-switch {
    top: 0.2rem;
    position: relative;
    float: left;
    margin: 1rem;
    padding-right: 1rem;
  }
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header__list {
    clear: none;
    float: right;
    max-height: none;
  }
  .header__icon {
    display: none;
  }
}
.welcome-container {
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
}
.welcome-container * {
  color: var(--text-color);
}
.welcome-container > * {
  flex-grow: 1;
  flex-basis: 0;
}
.welcome-container__left {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3d3469;
}
.welcome-container__left > * {
  color: #fff;
  margin-bottom: 2rem;
}
.welcome-container__left > h1 {
  font-family: "Inconsolata", monospace;
  font-size: 6rem;
}
.welcome-container__right {
  background-image: url("../img/trafic.jpg");
  background-size: cover;
}

.features-container {
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  box-sizing: border-box;
}
.features-container__description {
  text-align: center;
}
.features-container > .features-wrapper {
  display: flex;
  flex-direction: row;
  height: 50%;
  gap: 1rem;
  justify-content: stretch;
}
.features-container > .features-wrapper a {
  flex: 1;
}
.features-container > .features-wrapper .feature-card {
  color: var(--text-color);
  flex: 1;
  box-shadow: 0px 0px 2px rgba(119, 119, 119, 0.8);
  gap: 1rem;
  display: flex;
  justify-content: stretch;
  flex-direction: column;
}
.features-container > .features-wrapper .feature-card > * {
  flex-grow: 1;
  padding: 1rem;
}
.features-container > .features-wrapper .feature-card > *:nth-last-child(1), .features-container > .features-wrapper .feature-card > *:nth-last-child(2) {
  flex-grow: 0;
}
.features-container > .features-wrapper .feature-card button {
  justify-self: flex-end;
  height: 100%;
  width: 100%;
  display: block;
  color: #fff;
}
.features-container > .features-wrapper .feature-card > img {
  box-shadow: 0px 0px 2px rgba(119, 119, 119, 0.8);
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
  max-width: 100%;
}

@media only screen and (max-width: 800px) {
  .welcome-container__right {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .features-container > .features-wrapper {
    flex-direction: column;
  }
  .welcome-container__left, .features-container {
    padding: 1rem;
  }
}
.login-container__title {
  text-align: center;
  margin-bottom: 20px;
}

.login-form__group {
  margin-bottom: 15px;
}
.login-form__label {
  display: block;
  margin-bottom: 5px;
}
.login-form__input {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.login-form__button {
  padding: 1rem;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  border-radius: 3px;
  background-color: #6353aa;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.login-form__button:hover {
  background-color: #8a7cd1;
}

.cod-rutier {
  padding: 4rem;
  padding-top: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.cod-rutier__info {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.cod-rutier__title {
  text-align: center;
}
.cod-rutier .chapters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.cod-rutier .chapters-container a {
  color: var(--text-color);
  flex: 0 0 22%;
  text-align: center;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 0px 0px 2px rgba(119, 119, 119, 0.8);
  padding: 1rem;
  gap: 1rem;
}
.cod-rutier .chapters-container .chapter-card .chapter-card__title {
  margin: 0;
}
.cod-rutier .chapters-container .chapter-card--anexa button {
  background-color: #ea9a4b;
  color: #fff;
}
.cod-rutier .chapters-container .chapter-card--anexa button:hover {
  background-color: #f0c395;
}
@media only screen and (max-width: 800px) {
  .cod-rutier .chapters-container {
    flex-direction: column;
  }
}

.indicatoare {
  padding: 4rem;
  padding-top: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.indicatoare__info {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.indicatoare__title {
  text-align: center;
}

.category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.category-container a {
  flex: 0 0 30%;
  color: var(--text-color);
  display: inline-block;
}

.category-card {
  flex: 0 0 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 0px 0px 2px rgba(119, 119, 119, 0.8);
  padding: 1rem;
  gap: 1rem;
}
.category-card__title {
  margin: 0;
  padding-bottom: 1rem;
}
.category-card img {
  width: 300px;
}

.capitol {
  padding: 4rem;
  padding-top: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.capitol__info {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.capitol__title {
  text-align: center;
}
.capitol .content-container {
  display: flex;
  gap: 1rem;
  align-self: center;
  max-width: 80%;
  box-sizing: border-box;
}
.capitol .content-container > * {
  border-radius: 3px;
  overflow: hidden;
}
@media only screen and (max-width: 820px) {
  .capitol .content-container {
    flex-direction: column;
    max-width: 100%;
    width: 100%;
  }
  .capitol .content-container > * {
    width: 100%;
    flex: 1;
  }
}

.chapter-sidebar {
  align-self: start;
  color: white;
  border-radius: 3px;
  padding: 0;
  margin: 0;
  flex: 0 0 20%;
  flex-direction: column;
}
.chapter-sidebar a {
  color: #fff;
}
.chapter-sidebar__item {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  display: inline-block;
  border: 1rem;
  background-color: #6353aa;
}
.chapter-sidebar__item:hover {
  background-color: #8a7cd1;
}
.chapter-sidebar__item--checked {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  display: inline-block;
  border: 1rem;
  background-color: #ea9a4b;
}
.chapter-sidebar__item--checked:hover {
  background-color: #f0c395;
}

.chapter-content {
  flex: 1;
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 0px 0px 2px rgba(119, 119, 119, 0.8);
  box-sizing: border-box;
}

.back-to-top {
  opacity: 0;
  position: fixed;
  bottom: 4rem;
  left: 4rem;
  z-index: 99;
  cursor: pointer;
  transition: all 0.5s ease;
  transform: translateY(100px);
}
.back-to-top--show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

a {
  text-decoration: none;
}

html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--background-color);
}

button {
  padding: 1rem;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  border-radius: 3px;
  background-color: #6353aa;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #8a7cd1;
}

.flex-center-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.main-container {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--background-color);
  padding-top: 4rem;
}/*# sourceMappingURL=style.css.map */