@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
body {
  --button-text-color: #fff;
  --button-color: #6353aa;
  --button-color--hover: #8a7cd1;
}
body[data-theme=light] {
  --text-color: #222;
  --background-color: #fff;
}
body[data-theme=dark] {
  --text-color: #fff;
  --background-color: #222;
}

.welcome-container {
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
}
.welcome-container * {
  color: var(--text-color);
}
.welcome-container > * {
  flex-grow: 1;
  flex-basis: 0;
}
.welcome-container__left {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3d3469;
}
.welcome-container__left > * {
  color: #fff;
  margin-bottom: 2rem;
}
.welcome-container__left > h1 {
  font-family: "Inconsolata", monospace;
  font-size: 6rem;
}
.welcome-container__right {
  background-image: url("../img/trafic.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.features-container {
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  box-sizing: border-box;
}
.features-container__description {
  text-align: center;
}
.features-container > .features-wrapper {
  display: flex;
  height: 50%;
  gap: 1rem;
}
.features-container > .features-wrapper > .feature-card {
  flex: 1;
  box-shadow: 0px 0px 2px rgba(119, 119, 119, 0.8);
  padding: 1rem;
  gap: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.features-container > .features-wrapper > .feature-card > * {
  flex-grow: 1;
}
.features-container > .features-wrapper > .feature-card > *:nth-last-child(1), .features-container > .features-wrapper > .feature-card > *:nth-last-child(2) {
  flex-grow: 0;
}
.features-container > .features-wrapper > .feature-card > button {
  justify-self: flex-end;
}
.features-container > .features-wrapper > .feature-card > img {
  box-shadow: 0px 0px 2px rgba(119, 119, 119, 0.8);
  object-fit: cover;
  aspect-ratio: 16/9;
  max-width: 100%;
}

.login-container__title {
  text-align: center;
  margin-bottom: 20px;
}

.login-form__group {
  margin-bottom: 15px;
}
.login-form__label {
  display: block;
  margin-bottom: 5px;
}
.login-form__input {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.login-form__button {
  padding: 1rem;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  border-radius: 3px;
  background-color: var(--button-color);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.login-form__button:hover {
  background-color: var(--button-color--hover);
}

.navbar {
  background-color: #6353aa;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar__brand {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.navbar__brand > h1 {
  margin: 0;
}
.navbar__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.navbar__item {
  height: 100%;
  display: flex;
}
.navbar__item .dark-switch {
  margin: 1rem;
  align-self: center;
  justify-self: center;
}
.navbar__link {
  height: 100%;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 1rem;
  transition: background-color 0.3s ease;
}
.navbar__link > p {
  margin: 0;
}
.navbar__link:hover {
  background-color: #8a7cd1;
}

.dark-switch {
  display: flex;
}
.dark-switch label {
  position: relative;
  display: inline-block;
  height: 1rem;
  width: 1.5rem;
  cursor: pointer;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
}
@media (min-width: 1024px) {
  .dark-switch label {
    width: 2.5rem;
  }
}
.dark-switch input {
  position: absolute;
  opacity: 0;
}
.dark-switch span {
  position: absolute;
  top: -0.25rem;
  left: 0;
  display: flex;
  height: 1.5rem;
  width: 1.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: #8a7cd1;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
}
.dark-switch span * {
  width: 50%;
  color: white;
}
.dark-switch input:checked + label span {
  left: 1rem;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  margin: 0;
  color: var(--text-color);
}

button {
  padding: 1rem;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  border-radius: 3px;
  background-color: var(--button-color);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: var(--button-color--hover);
}

.flex-center-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
