@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
body {
  --button-text-color: #fff;
  --button-color: #6353aa;
  --button-color--hover: #8a7cd1;
}
body[data-theme=light] {
  --text-color: #222;
  --background-color: #fff;
  --link-color: #6353aa;
  --leaderboard-nth-even-color: #f6f6f6;
}
body[data-theme=dark] {
  --text-color: #fff;
  --background-color: #222;
  --link-color: #ea9a4b;
  --leaderboard-nth-even-color: #1d1d1d;
}

.button {
  padding: 1rem;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  border-radius: 3px;
  background-color: #6353aa;
  box-sizing: border-box;
  color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}
.button:hover {
  background-color: #8a7cd1;
}

.header__dark-switch {
  display: flex;
}
.header__dark-switch label {
  position: relative;
  display: inline-block;
  top: 0.33rem;
  height: 1rem;
  width: 1.5rem;
  cursor: pointer;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
}
.header__dark-switch label {
  width: 2.5rem;
}
.header__dark-switch input {
  display: none;
  position: absolute;
  opacity: 0;
}
.header__dark-switch span {
  position: absolute;
  top: -0.25rem;
  left: 0;
  display: flex;
  height: 1.5rem;
  width: 1.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: #8a7cd1;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
}
.header__dark-switch span * {
  width: 50%;
  height: 50%;
  color: white;
}
.header__dark-switch input:checked + label span {
  left: 1rem;
}

.header {
  background-color: #6353aa;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}
.header a {
  color: #FFF;
}
.header__dark-switch {
  top: 0.1rem;
  position: relative;
  float: left;
  margin: 1rem;
  padding-right: 1rem;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #6353aa;
}
.header li {
  float: left;
}
.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}
.header li a:hover {
  background-color: #8a7cd1;
}
.header .logo {
  display: block;
  float: left;
  font-size: 32px;
  padding: 10px 20px;
  text-decoration: none;
}
.header .logo:hover {
  background-color: #8a7cd1;
}
.header__icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  display: none;
}
.header__icon .navicon {
  background-color: #FFF;
  display: block;
  height: 2px;
  position: relative;
  transition: 0.2s ease-out;
  width: 18px;
}
.header__icon .navicon:before, .header__icon .navicon:after {
  background: #FFF;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.header__icon .navicon:before {
  top: 5px;
}
.header__icon .navicon:after {
  top: -5px;
}
.header__list {
  clear: none;
  float: right;
  max-height: none;
}
.header__button {
  display: none;
}
.header__button:checked ~ .header__list {
  max-height: 40rem;
}
.header__button:checked ~ .header__icon .navicon {
  background: transparent;
}
.header__button:checked ~ .header__icon .navicon:before {
  transform: rotate(-45deg);
}
.header__button:checked ~ .header__icon .navicon:after {
  transform: rotate(45deg);
}
.header__button:checked ~ .header__icon:not(.steps) .navicon:before, .header__button:checked ~ .header__icon:not(.steps) .navicon:after {
  top: 0;
}
.header__profile-info h4 {
  display: inline;
}
.header--mobile-view .header__dark-switch {
  position: relative;
  padding-right: 1rem;
  float: right;
}
.header--mobile-view .header ul {
  width: 100%;
}
.header--mobile-view .header li {
  display: block;
  width: 100%;
  float: left;
}
.header--mobile-view .header__list {
  clear: both;
  max-height: 0;
  transition: max-height 0.3s ease-out;
  position: relative;
}
.header--mobile-view .header__icon {
  display: block;
}

@media only screen and (max-width: 820px) {
  .header__dark-switch {
    position: relative;
    padding-right: 1rem;
    float: right;
  }
  .header ul {
    width: 100%;
  }
  .header li {
    display: block;
    width: 100%;
    float: left;
  }
  .header__list {
    clear: both;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    position: relative;
  }
  .header__icon {
    display: block;
  }
}
.back-to-top {
  opacity: 0;
  position: fixed;
  bottom: 3.5rem;
  left: 3.5rem;
  z-index: 99;
  cursor: pointer;
  transition: all 0.5s ease;
  transform: translateY(100px);
}
.back-to-top--show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
@media only screen and (max-width: 600px) {
  .back-to-top {
    bottom: 1rem;
    left: 1rem;
  }
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 1rem;
  color: var(--text-color);
  border-top: 1px solid #777;
  margin-top: 3.5rem;
}
.footer a:not(.footer__button) {
  color: var(--text-color);
}
.footer > * {
  flex: 1 100%;
}
.footer__addr {
  margin-right: 1.25em;
  display: flex;
  flex-direction: column;
}
.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}
.footer__addr address {
  font-style: normal;
  color: #999;
}
.footer__logo {
  display: block;
  float: left;
  font-size: 32px;
  text-decoration: none;
}
.footer__button {
  padding: 1rem;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  border-radius: 3px;
  background-color: #6353aa;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  margin: 1rem 0;
  padding-right: 1rem;
}
.footer__button:hover {
  background-color: #8a7cd1;
}
.footer ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0.5em;
}
.footer li {
  line-height: 2em;
}
.footer__nav {
  display: flex;
  flex-flow: row wrap;
}
.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}
.footer__legal {
  display: flex;
  flex-wrap: wrap;
}
.footer__legal > .legal__extensions {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav__title {
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
}
.nav__ul {
  color: var(--text-color);
}

@media screen and (max-width: 600px) {
  .footer__legal {
    flex-direction: column;
  }
  .footer__legal .legal__extensions {
    margin-left: 0;
  }
}
@media screen and (min-width: 821px) {
  .footer__nav > * {
    flex: 1;
  }
  .footer__addr {
    flex: 1 0px;
  }
  .footer__nav {
    flex: 2 0px;
  }
}
.welcome-container {
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
}
.welcome-container > * {
  flex-grow: 1;
  flex-basis: 0;
}
.welcome-container__left {
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3d3469;
}
.welcome-container__left > * {
  color: #fff;
  margin-bottom: 2rem;
}
.welcome-container__left > h1 {
  font-family: "Inconsolata", monospace;
  font-size: 6rem;
}
.welcome-container__buttons {
  width: 100%;
  display: flex;
  gap: 1rem;
}
.welcome-container__buttons > * {
  flex: 1;
}
.welcome-container__buttons button {
  width: 100%;
  color: #fff;
}
.welcome-container__right {
  background-image: url("../img/trafic.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.features-container {
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3.5rem;
  box-sizing: border-box;
}
.features-container__description {
  text-align: center;
}
.features-container .features-wrapper {
  display: flex;
  flex-direction: row;
  height: 50%;
  gap: 1rem;
  justify-content: stretch;
}
@media only screen and (min-width: 2000px) {
  .features-container .features-wrapper {
    max-width: 160rem;
    align-self: center;
  }
}
.features-container .features-wrapper .feature-card {
  box-shadow: 0px 0px 2px rgba(119, 119, 119, 0.8);
  border-radius: 3px;
  box-sizing: border-box;
  color: var(--text-color);
  flex: 1;
  gap: 1rem;
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  padding: 1rem;
}
.features-container .features-wrapper .feature-card > :nth-child(1) {
  flex-grow: 1;
}
.features-container .features-wrapper .feature-card > :nth-last-child(1) {
  flex-grow: 0;
  width: 100%;
  display: block;
  color: #fff;
}
.features-container .features-wrapper .feature-card img {
  box-shadow: 0px 0px 2px rgba(119, 119, 119, 0.8);
  object-fit: cover;
  aspect-ratio: 16/9;
  max-width: 100%;
}

@media only screen and (max-width: 820px) {
  .welcome-container__right {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .features-container > .features-wrapper {
    flex-direction: column;
  }
  .welcome-container__left, .features-container {
    padding: 1rem;
  }
}
.about {
  width: 100%;
  box-sizing: border-box;
  padding: 3.5rem;
  padding-bottom: 5.5rem;
  padding-top: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 100%;
}
.about__info {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3.5rem;
}
.about__title {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .about {
    padding: 1rem;
    padding-bottom: 5.5rem;
  }
}
@media only screen and (min-width: 2000px) {
  .about {
    max-width: 100rem;
  }
}
.about__info-cards {
  display: flex;
  gap: 1rem;
  height: fit-content;
  justify-content: center;
}
@media only screen and (max-width: 820px) {
  .about__info-cards {
    flex-direction: column;
  }
}
.about__info-card {
  box-shadow: 0px 0px 2px rgba(119, 119, 119, 0.8);
  border-radius: 3px;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
}
.about__info-card > * {
  margin: 0;
  width: 100%;
}
.about__info-card a > button {
  width: 100%;
}

.help {
  width: 100%;
  box-sizing: border-box;
  padding: 3.5rem;
  padding-bottom: 5.5rem;
  padding-top: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.help__info {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3.5rem;
}
.help__title {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .help {
    padding: 1rem;
    padding-bottom: 5.5rem;
  }
}
@media only screen and (min-width: 2000px) {
  .help {
    max-width: 100rem;
  }
}
.help__items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}
.help__item {
  color: #fff;
  border-radius: 3px;
  overflow: hidden;
}
.help__item a {
  font-weight: bold;
  color: #f0c395;
}
.help__item > * {
  margin: 0;
}
.help__item__question {
  padding: 1rem;
  background-color: #ea9a4b;
}
.help__item__answer {
  padding: 1rem;
  background-color: #b66d24;
}

.not-found {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.not-found__info {
  text-align: center;
}
.not-found__info .button {
  background-color: #ea9a4b;
  color: #fff;
}
.not-found__info .button:hover {
  background-color: #f0c395;
}
.not-found__info h1 {
  font-size: 6rem;
}

.login-container, .signup-container {
  position: relative;
  z-index: 1;
  background-image: url("../img/trafic.jpg");
  overflow: hidden;
  background-size: cover;
}
.login-container:before, .signup-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  filter: blur(0.3rem);
  z-index: -1;
}

.login-card, .signup-card {
  box-shadow: 0px 0px 2px rgba(119, 119, 119, 0.8);
  border-radius: 3px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  background-color: var(--background-color);
  margin: 1rem;
  padding: 1rem;
  width: 100%;
  top: 60px;
}
.login-card__title, .signup-card__title {
  text-align: center;
  margin-bottom: 20px;
}
.login-card button, .signup-card button {
  padding: 1rem;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  border-radius: 3px;
  background-color: #6353aa;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}
.login-card button:hover, .signup-card button:hover {
  background-color: #8a7cd1;
}
.login-card p, .signup-card p {
  text-align: center;
}
.login-card a, .signup-card a {
  color: var(--link-color);
}
@media only screen and (min-width: 821px) {
  .login-card, .signup-card {
    width: 50%;
    padding: 3.5rem;
    margin: 3.5rem;
  }
}
@media only screen and (max-height: 820px) {
  .login-card, .signup-card {
    bottom: 70px;
    margin-bottom: 70px;
  }
}

.login-form__group, .signup-form__group {
  margin-bottom: 15px;
}
.login-form__label, .signup-form__label {
  display: block;
  margin-bottom: 5px;
}
.login-form__input, .signup-form__input {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.admin-dashboard {
  width: 100%;
  box-sizing: border-box;
  padding: 3.5rem;
  padding-bottom: 5.5rem;
  padding-top: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.admin-dashboard__info {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3.5rem;
}
.admin-dashboard__title {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .admin-dashboard {
    padding: 1rem;
    padding-bottom: 5.5rem;
  }
}
@media only screen and (min-width: 2000px) {
  .admin-dashboard {
    max-width: 100rem;
  }
}
.admin-dashboard button {
  width: max-content;
  align-self: center;
}
.admin-dashboard__search {
  display: flex;
  justify-content: center;
}
.admin-dashboard__search input[type=text] {
  padding: 1rem;
  float: left;
  font-size: 1rem;
}
.admin-dashboard__search span {
  display: inline-block;
  transform: scale(1.5) rotate(36deg);
}
.admin-dashboard .dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.admin-dashboard .dashboard-container__header {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 2fr;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  background-color: #6353aa;
  padding: 1rem;
}
@media only screen and (max-width: 820px) {
  .admin-dashboard .dashboard-container__header {
    display: none;
  }
}
.admin-dashboard .dashboard-container__pagination {
  box-shadow: 0px 0px 2px rgba(119, 119, 119, 0.8);
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #6353aa;
  width: max-content;
  align-self: center;
  display: flex;
}
.admin-dashboard .dashboard-container__pagination a {
  flex: 1;
  padding: 1rem;
  line-height: 100%;
  display: block;
  color: #fff;
}
.admin-dashboard .dashboard-container__pagination a:hover {
  background-color: #8a7cd1;
}
.admin-dashboard .dashboard-container__pagination a.selected {
  background-color: #ea9a4b;
}
.admin-dashboard .dashboard-container__pagination a.selected:hover {
  background-color: #f0c395;
}
.admin-dashboard .dashboard-card {
  box-shadow: 0px 0px 2px rgba(119, 119, 119, 0.8);
  border-radius: 3px;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 2fr;
}
.admin-dashboard .dashboard-card__action {
  width: 100%;
  padding: 0.5rem;
}
.admin-dashboard .dashboard-card p {
  margin: 0;
}
.admin-dashboard .dashboard-card > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.admin-dashboard .dashboard-card__label {
  display: none;
}
@media only screen and (max-width: 820px) {
  .admin-dashboard .dashboard-card {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .admin-dashboard .dashboard-card > * {
    display: flex;
    flex-direction: column;
    justify-content: unset;
  }
  .admin-dashboard .dashboard-card__label {
    display: unset;
    font-weight: bold;
  }
}
.admin-dashboard .dashboard-card__email {
  font-style: italic;
}
.admin-dashboard .dashboard-card__actions {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.admin-dashboard .dashboard-card__actions .button {
  background-color: #ea9a4b;
  color: #fff;
}
.admin-dashboard .dashboard-card__actions .button:hover {
  background-color: #f0c395;
}

.single-card__container {
  width: 100%;
  box-sizing: border-box;
  padding: 3.5rem;
  padding-bottom: 5.5rem;
  padding-top: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
}
.single-card__container__info {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3.5rem;
}
.single-card__container__title {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .single-card__container {
    padding: 1rem;
    padding-bottom: 5.5rem;
  }
}
@media only screen and (min-width: 2000px) {
  .single-card__container {
    max-width: 100rem;
  }
}
.single-card__card {
  box-shadow: 0px 0px 2px rgba(119, 119, 119, 0.8);
  border-radius: 3px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 3.5rem;
  width: auto;
}
.single-card__card h1 {
  margin-top: 0;
}
.single-card__card ul {
  margin-bottom: 0;
}
.single-card__button {
  display: flex;
  justify-content: center;
}

.reset-container {
  width: 100%;
  box-sizing: border-box;
  padding: 3.5rem;
  padding-bottom: 5.5rem;
  padding-top: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
}
.reset-container__info {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3.5rem;
}
.reset-container__title {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .reset-container {
    padding: 1rem;
    padding-bottom: 5.5rem;
  }
}
@media only screen and (min-width: 2000px) {
  .reset-container {
    max-width: 100rem;
  }
}
.reset-container .confirmation-container {
  padding-top: 1rem;
  display: none;
}

.profile {
  width: 100%;
  box-sizing: border-box;
  padding: 3.5rem;
  padding-bottom: 5.5rem;
  padding-top: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.profile__info {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3.5rem;
}
.profile__title {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .profile {
    padding: 1rem;
    padding-bottom: 5.5rem;
  }
}
@media only screen and (min-width: 2000px) {
  .profile {
    max-width: 100rem;
  }
}
.profile .confirmation-container {
  display: none;
  text-align: center;
}
.profile .button {
  display: flex;
  background-color: var(--link-color);
}

.profile-card {
  box-shadow: 0px 0px 2px rgba(119, 119, 119, 0.8);
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
.profile-card .button {
  background-color: #ea9a4b;
  color: #fff;
}
.profile-card .button:hover {
  background-color: #f0c395;
}
.profile-card__buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  height: 100%;
}
.profile-card__row {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  .profile-card__buttons {
    justify-content: left;
  }
  .profile-card__row {
    display: flex;
    flex-direction: column;
  }
  .profile-card .profile-field__content p {
    text-align: left;
  }
}

.profile-field__title {
  display: flex;
  font-size: 1.25rem;
  align-items: center;
}
.profile-field__title p {
  margin: 0;
}
.profile-field__content {
  font-size: 1rem;
  justify-content: right;
  max-width: 200px;
  width: 200px;
}
.profile-field__content p {
  text-align: center;
}
.profile-field__content button {
  width: 200px;
}

.cod-rutier {
  width: 100%;
  box-sizing: border-box;
  padding: 3.5rem;
  padding-bottom: 5.5rem;
  padding-top: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.cod-rutier__info {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3.5rem;
}
.cod-rutier__title {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .cod-rutier {
    padding: 1rem;
    padding-bottom: 5.5rem;
  }
}
@media only screen and (min-width: 2000px) {
  .cod-rutier {
    max-width: 100rem;
  }
}
.cod-rutier .chapters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.cod-rutier .chapters-container a {
  color: var(--text-color);
  flex: 0 0 22%;
  text-align: center;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 0px 0px 2px rgba(119, 119, 119, 0.8);
  padding: 1rem;
  gap: 1rem;
}
.cod-rutier .chapters-container .chapter-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cod-rutier .chapters-container .chapter-card .chapter-card__title {
  margin: 0;
}
.cod-rutier .chapters-container .chapter-card--anexa .button {
  background-color: #ea9a4b;
  color: #fff;
}
.cod-rutier .chapters-container .chapter-card--anexa .button:hover {
  background-color: #f0c395;
}
@media only screen and (max-width: 800px) {
  .cod-rutier .chapters-container {
    flex-direction: column;
  }
}
.cod-rutier .chapters-container .button {
  width: fit-content;
}

.capitol {
  width: 100%;
  box-sizing: border-box;
  padding: 3.5rem;
  padding-bottom: 5.5rem;
  padding-top: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.capitol__info {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3.5rem;
}
.capitol__title {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .capitol {
    padding: 1rem;
    padding-bottom: 5.5rem;
  }
}
@media only screen and (min-width: 2000px) {
  .capitol {
    max-width: 100rem;
  }
}
.capitol .content-container {
  display: flex;
  gap: 1rem;
  align-self: center;
  max-width: 85%;
  box-sizing: border-box;
}
.capitol .content-container > * {
  border-radius: 3px;
  overflow: hidden;
}
@media only screen and (max-width: 920px) {
  .capitol .content-container {
    max-width: 95%;
  }
}
@media only screen and (max-width: 820px) {
  .capitol .content-container {
    flex-direction: column;
    max-width: 100%;
    width: 100%;
  }
  .capitol .content-container > * {
    width: 100%;
    flex: 1;
  }
}

.chapter-sidebar {
  align-self: start;
  color: white;
  border-radius: 3px;
  padding: 0;
  margin: 0;
  flex: 0 0 20%;
  flex-direction: column;
}
.chapter-sidebar a {
  color: #fff;
}
.chapter-sidebar__item {
  box-sizing: border-box;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  display: inline-block;
  text-align: left;
  word-wrap: break-word;
  background-color: #6353aa;
}
.chapter-sidebar__item:hover {
  background-color: #8a7cd1;
}
.chapter-sidebar__item--checked {
  background-color: #ea9a4b;
}
.chapter-sidebar__item--checked:hover {
  background-color: #f0c395;
}

.chapter-content {
  box-shadow: 0px 0px 2px rgba(119, 119, 119, 0.8);
  border-radius: 3px;
  box-sizing: border-box;
  flex: 1;
  padding: 1rem;
}
.indicatoare {
  width: 100%;
  box-sizing: border-box;
  padding: 3.5rem;
  padding-bottom: 5.5rem;
  padding-top: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.indicatoare__info {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3.5rem;
}
.indicatoare__title {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .indicatoare {
    padding: 1rem;
    padding-bottom: 5.5rem;
  }
}
@media only screen and (min-width: 2000px) {
  .indicatoare {
    max-width: 100rem;
  }
}

.category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.category-container *:not(.button) {
  color: var(--text-color);
}

.category-card {
  box-shadow: 0px 0px 2px rgba(119, 119, 119, 0.8);
  border-radius: 3px;
  box-sizing: border-box;
  flex: 0 0 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  padding: 1rem;
  gap: 1rem;
}
@media only screen and (max-width: 820px) {
  .category-card {
    flex: 0 0 40%;
  }
}
@media only screen and (max-width: 600px) {
  .category-card {
    flex: 0 0 100%;
  }
}
.category-card__title {
  margin: 0;
  padding-bottom: 1rem;
}
.category-card img {
  flex-grow: 0;
  height: 16rem;
}
@media only screen and (max-width: 600px) {
  .category-card img {
    flex-grow: 0;
    height: 8rem;
  }
}
.category-card__body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.category-card__body > * {
  flex-grow: 0;
}
.category-card__body :nth-last-child(2) {
  justify-content: flex-start;
  flex-grow: 1;
}
.category-card__title {
  padding-bottom: 0;
}

.category-info {
  align-self: center;
  width: 80%;
  margin-bottom: 3.5rem;
  border-radius: 3px;
  overflow: hidden;
  background-color: #ea9a4b;
  color: #fff;
  box-sizing: border-box;
}
.category-info__row {
  padding: 1rem;
  border-bottom: 3px solid var(--background-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.category-info__row:nth-last-child(1) {
  border-bottom: unset;
}
.category-info__row > :nth-last-child(1) {
  text-align: right;
}

.comparison {
  width: 100%;
  box-sizing: border-box;
  padding: 3.5rem;
  padding-bottom: 5.5rem;
  padding-top: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  justify-content: center;
}
.comparison__info {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3.5rem;
}
.comparison__title {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .comparison {
    padding: 1rem;
    padding-bottom: 5.5rem;
  }
}
@media only screen and (min-width: 2000px) {
  .comparison {
    max-width: 100rem;
  }
}
.comparison__select {
  border-radius: 3px;
  position: relative;
  width: 20%;
}
@media only screen and (max-width: 600px) {
  .comparison__select {
    width: 80%;
  }
}
.comparison__select:after {
  color: #333;
  content: "<>";
  font: 17px "Consolas", monospace;
  transform: rotate(90deg);
  right: 11px;
  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #777777;
  position: absolute;
  pointer-events: none;
}
.comparison__select select {
  appearance: none;
  border-radius: 3px;
  display: block;
  width: 100%;
  max-width: 320px;
  height: 3rem;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  word-break: normal;
}
.comparison option {
  border-radius: 0;
}
.comparison__target {
  display: flex;
  justify-content: center;
}
.comparison__results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.compare-card {
  box-shadow: 0px 0px 2px rgba(119, 119, 119, 0.8);
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 30%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: stretch;
  padding: 1rem;
  gap: 1rem;
}
@media only screen and (max-width: 820px) {
  .compare-card {
    flex: 0 0 40%;
  }
}
@media only screen and (max-width: 600px) {
  .compare-card {
    flex: 0 0 100%;
  }
}
.compare-card img {
  flex-grow: 0;
  height: 16rem;
}
@media only screen and (max-width: 600px) {
  .compare-card img {
    height: 12rem;
  }
}

.exerseaza {
  width: 100%;
  box-sizing: border-box;
  padding: 3.5rem;
  padding-bottom: 5.5rem;
  padding-top: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.exerseaza__info {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3.5rem;
}
.exerseaza__title {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .exerseaza {
    padding: 1rem;
    padding-bottom: 5.5rem;
  }
}
@media only screen and (min-width: 2000px) {
  .exerseaza {
    max-width: 100rem;
  }
}

.question-categories {
  box-shadow: 0px 0px 2px rgba(119, 119, 119, 0.8);
  border-radius: 3px;
  box-sizing: border-box;
  text-align: center;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question-categories__title {
  margin: 0;
}
.question-categories__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.question-categories__container > * {
  flex: 1 0 40%;
}
@media only screen and (max-width: 820px) {
  .question-categories__container {
    flex-direction: column;
  }
  .question-categories__container > * {
    flex: unset;
  }
}
.question-categories a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.question-categories a button {
  width: 100%;
}

.question-category {
  box-shadow: 0px 0px 2px rgba(119, 119, 119, 0.8);
  border-radius: 3px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 1rem;
  position: relative;
  background-color: #ea9a4b;
  transition: all 0.2s ease-in-out;
  color: white;
}
.question-category:hover {
  background-color: #f0c395;
}
.question-category:hover .question-category__filler {
  background-color: #8a7cd1;
}
.question-category span {
  padding: 0;
}
.question-category__title {
  flex-grow: 1;
  text-align: center;
  margin: 0;
  z-index: 5;
}
.question-category__value {
  margin: 0;
  align-self: flex-end;
  width: 20%;
  z-index: 5;
}
.question-category__filler {
  transition: all 0.2s ease-in-out;
  content: "\a";
  background: #6353aa;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0%;
}

.leaderboard {
  display: flex;
  background-color: var(--background-color);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  box-sizing: border-box;
  width: 75%;
  margin-bottom: 3.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  border-collapse: collapse;
  border: 1px solid #777777;
  border-radius: 10px;
}
.leaderboard__rank {
  text-align: left;
  width: 10%;
}
.leaderboard__percentage, .leaderboard__correct, .leaderboard__questionnaires {
  width: 15%;
}
.leaderboard h1 {
  margin: 0;
  margin-top: 1rem;
  text-align: center;
  width: 100%;
}
.leaderboard table {
  border-radius: 25px;
  width: 100%;
  border-spacing: 0;
  border-color: #777777;
  table-layout: fixed;
  cursor: default;
}
.leaderboard th {
  color: white;
  font-size: 1.2rem;
  padding: 1rem;
  word-wrap: break-word;
}
@media only screen and (max-width: 1200px) {
  .leaderboard th {
    font-size: 1rem;
  }
}
.leaderboard tr {
  transition: all 0.2s ease-in-out;
  border-radius: 0.2rem;
}
.leaderboard thead > tr {
  background-color: #3d3469;
  height: 8rem;
  padding: 1rem 3rem;
  position: relative;
  border-radius: 25px 25px 0 0;
}
@media only screen and (max-width: 600px) {
  .leaderboard thead > tr * {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 500px) {
  .leaderboard thead > tr * {
    font-size: 0.6rem;
  }
}
.leaderboard td {
  height: 4rem;
  font-size: 1rem;
  padding: 1rem 2rem;
  position: relative;
  color: var(--text-color);
}
@media only screen and (max-width: 1200px) {
  .leaderboard td {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 600px) {
  .leaderboard tbody * {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 500px) {
  .leaderboard tbody * {
    font-size: 0.6rem;
  }
}
.leaderboard tbody tr:first-child {
  background-color: #ea9a4b;
}
.leaderboard tbody tr:first-child td {
  color: white;
}
.leaderboard tbody tr:first-child:hover {
  transform: scale(1.1);
}
.leaderboard tbody tr:not(:first-child):hover {
  background-color: #6353aa;
  transform: scale(1.1);
}
.leaderboard tbody tr:not(:first-child):hover td {
  color: white;
}
.leaderboard tbody tr:nth-child(2n+3) {
  background-color: var(--leaderboard-nth-even-color);
}
.leaderboard tbody tr:nth-child(2n+3):hover {
  box-shadow: 0 0 20px var(--leaderboard-nth-even-color);
}
.leaderboard tbody td:not(:nth-child(2)) {
  font-weight: bold;
}
.leaderboard tbody td:nth-child(n+3) {
  text-align: center;
  padding: 0;
}
@media only screen and (max-width: 1200px) {
  .leaderboard col, .leaderboard td, .leaderboard th {
    padding: 0.2rem;
  }
  .leaderboard col:nth-child(n+4), .leaderboard td:nth-child(n+4), .leaderboard th:nth-child(n+4) {
    display: none;
  }
  .leaderboard__rank {
    text-align: left;
    width: 10%;
  }
  .leaderboard__percentage {
    width: 25%;
  }
  .leaderboard__correct, .leaderboard__questionnaires {
    width: 0%;
  }
}
.leaderboard .leaderboard-buttons {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.intrebare {
  width: 100%;
  box-sizing: border-box;
  padding: 3.5rem;
  padding-bottom: 5.5rem;
  padding-top: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}
.intrebare__info {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3.5rem;
}
.intrebare__title {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .intrebare {
    padding: 1rem;
    padding-bottom: 5.5rem;
  }
}
@media only screen and (min-width: 2000px) {
  .intrebare {
    max-width: 100rem;
  }
}

.intrebare-card {
  box-shadow: 0px 0px 2px rgba(119, 119, 119, 0.8);
  border-radius: 3px;
  box-sizing: border-box;
  max-width: 80%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@media only screen and (max-width: 820px) {
  .intrebare-card {
    max-width: 100%;
  }
}
.intrebare-card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: #6353aa;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 100%;
}
.intrebare-card__header .header__upper, .intrebare-card__header .header__lower {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  padding-bottom: 0;
}
.intrebare-card__header .header__upper {
  padding-bottom: 1rem;
}
@media only screen and (max-width: 600px) {
  .intrebare-card__header .header__upper {
    text-align: center;
    gap: 1rem;
    flex-direction: column;
  }
}
.intrebare-card__header .header__lower {
  padding-top: 0;
  border-top: 1px solid #777;
  display: flex;
}
.intrebare-card__header .header__lower p:not(:first-child) {
  border-left: 1px solid #777;
}
.intrebare-card__header .header__lower p {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 100%;
  margin: 0;
  padding: 1rem;
}
.intrebare-card__header .header__lower p span {
  padding-top: 1rem;
  font-size: 20px;
}
@media only screen and (max-width: 600px) {
  .intrebare-card__header .header__lower {
    flex-wrap: wrap;
  }
  .intrebare-card__header .header__lower p:not(:first-child) {
    border-left: 0;
  }
}
.intrebare-card__header h2 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  line-height: 100%;
}
.intrebare-card__title {
  display: flex;
  flex-direction: column;
}
.intrebare-card__body {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.intrebare-card__contents {
  display: flex;
  width: 100%;
  gap: 1rem;
}
@media only screen and (max-width: 600px) {
  .intrebare-card__contents {
    flex-direction: column-reverse;
  }
}
.intrebare-card__image-wrapper {
  flex: 0 1 40%;
  padding: 0;
}
.intrebare-card__image-wrapper img {
  border-radius: 3px;
  box-shadow: 0px 0px 2px rgba(119, 119, 119, 0.8);
  width: 100%;
  height: auto;
}
.intrebare-card__answers-list {
  flex: 0 1 60%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}
.intrebare-card__answer {
  box-sizing: border-box;
  width: 100%;
}
.intrebare-card__answer label {
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0px 0px 2px rgba(119, 119, 119, 0.8);
  display: block;
  box-sizing: border-box;
  padding: 1rem;
  min-width: 100%;
  min-height: 100%;
}
.intrebare-card__answer input[type=checkbox] {
  display: none;
  cursor: pointer;
  width: 0;
}
.intrebare-card__answer input[type=checkbox]:checked ~ label {
  background-color: #ea9a4b;
  color: #fff;
}
.intrebare-card__buttons {
  align-self: center;
  justify-self: center;
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}
@media only screen and (max-width: 600px) {
  .intrebare-card__buttons {
    flex-direction: column;
  }
}

a {
  text-decoration: none;
  color: var(--link-color);
  cursor: pointer;
}

html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: var(--background-color);
}

button {
  padding: 1rem;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  border-radius: 3px;
  background-color: #6353aa;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #8a7cd1;
}

.flex-center-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.main-container {
  width: 100%;
  flex: 1 1 100%;
  box-sizing: border-box;
  background-color: var(--background-color);
  padding-top: 3.5rem;
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
