<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmare de Înregistrare pe {WEBSITE_NAME}</title>
</head>
<body>
    <div>
        <h2>Confirmare de Înregistrare pe {WEBSITE_NAME}</h2>
        <p>Salut <strong>{USERNAME}</strong>,</p>
        <p>Vă mulțumim că v-ați înregistrat pe <b>{WEBSITE_NAME}</b>! Pentru a finaliza procesul de înregistrare, vă rugăm să confirmați adresa de email făcând clic pe link-ul de mai jos:</p>
        <a href="{CONFIRMATION_LINK}">Link-ul de Confirmare</a>
        <p>Dacă nu ați creat acest cont, vă rugăm să ignorați acest mesaj.</p>
        <p>Cu drag,</p>
        <p>Echipa {WEBSITE_NAME}</p>
    </div>
</body>
</html>