<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmare de Înregistrare pe {WEBSITE_NAME}</title>
</head>
<body>
    <div>
        <h2>Confirmare de schimbare a email-ului pe {WEBSITE_NAME}</h2>
        <p>Salut <strong>{USERNAME}</strong>,</p>
        <p>Acesta este un email de confirmare a schimbării email-ului contului tău de pe <strong>{WEBSITE_NAME}</strong>.</p>
        <p>Dacă tu ai inițiat această schimbare, te rugăm să confirmi folosind link-ul de mai jos:</p>
        <p><a href="{CONFIRMATION_LINK}" class="button">Confirmă schimbarea email-ului</a></p>
        <p>Dacă nu ai inițiat această schimbare, te rugăm să ignori acest mesaj.</p>
        <p>Cu drag,</p>
        <p>Echipa {WEBSITE_NAME}</p>
    </div>
</body>
</html>