$primary-color: #6353aa;
$primary-color--dark: #3d3469;
$primary-color--hover: #8a7cd1;

$secondary-color: #ea9a4b;
$secondary-color--dark: #b66d24;
$secondary-color--hover: #f0c395;

$neutral-color: #808080;

$bg--light: #fff;
$text-color--light: #222;

$bg--dark: #222;
$text-color--dark: #fff;

$leaderboard-nth-even-color--light: #f6f6f6;
$leaderboard-nth-even-color--dark: #1d1d1d;

body {
    --button-text-color: #{$text-color--dark};
    --button-color: #{$primary-color};
    --button-color--hover: #{$primary-color--hover};

    &[data-theme='light'] {
        --text-color: #{$text-color--light};
        --background-color: #{$bg--light};
        --link-color: #{$primary-color};
        --leaderboard-nth-even-color: #{$leaderboard-nth-even-color--light};
    }

    &[data-theme='dark'] {
        --text-color: #{$text-color--dark};
        --background-color: #{$bg--dark};
        --link-color: #{$secondary-color};
        --leaderboard-nth-even-color: #{$leaderboard-nth-even-color--dark};
    }
}

@mixin buttonSecondary {
    background-color: $secondary-color;
    color: $text-color--dark;
    &:hover {
        background-color: $secondary-color--hover;
    }
    &[disabled],
    &:disabled {
        background-color: $neutral-color;
    }
}

@mixin secondary {
    .button {
        @include buttonSecondary();
    }
}
