@use 'color-themes';

.not-found {
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &__info {
        @include color-themes.secondary;

        h1 {
            font-size: 6rem;
        }

        text-align: center;
    }
}
