@use 'color-themes';

.error {
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &__details {
        color: red;
    }

    &__info {
        @include color-themes.secondary;

        text-align: center;
    }
}
