@use "utils";
@use "vars";
@use "color-themes";

.capitol {
    @include utils.main-page-container;

    .content-container {
        > * {
            border-radius: vars.$border-radius;
            overflow: hidden;
        }
        display: flex;
        gap: vars.$padding-small;
        align-self: center;
        max-width: 85%;
        box-sizing: border-box;

        @media only screen and (max-width: calc(vars.$media-query-size-big + 100px)) {
            max-width: 95%;
        }

        @media only screen and (max-width: vars.$media-query-size-big)  {
            flex-direction: column;
            max-width: 100%;
            width: 100%;
            > * {
                width: 100%;
                flex: 1;
            }
        }
    }
}

.chapter-sidebar {
    align-self: start;
    color: white;
    border-radius: vars.$border-radius;
    padding: 0;
    margin: 0;
    // overflow: hidden;
    flex: 0 0 20%;
    flex-direction: column;

    a {
        color: #fff;
    }

    // li {

    // }

    &__item {
        box-sizing: border-box;
        padding: vars.$padding-small;
        gap: 1rem;
        width: 100%;
        display: inline-block;
        text-align: left;
        word-wrap: break-word;

        background-color: color-themes.$primary-color;
        &:hover {
            background-color: color-themes.$primary-color--hover;
        }

        &--checked {
            background-color: color-themes.$secondary-color;
            &:hover {
                background-color: color-themes.$secondary-color--hover;
            }
        }
    }

    // &__item {
        
    //     box-sizing: border-box;
    //     padding: 10px;
    //     margin: 10px;
    //     width: 100%;
    //     > a {
    //         background-color: color-themes.$primary-color;
    //         width: 100%;
    //         padding: calc(vars.$padding-small);
    //         cursor: pointer;
    //         display:inline-block;
    //         &:hover {
    //             background-color: color-themes.$primary-color--hover;
    //         }

    //     }

    //     &--checked {
            
    //         padding: 10px;
    //         margin: 10px;
    //         width: 100%;
    //         > a {
    //             box-sizing: border-box;
    //             background-color: color-themes.$secondary-color;
    //             width: 100%;
    //             padding: calc(vars.$padding-small);
    //             cursor: pointer;
    //             display:inline-block;
    //             &:hover {
    //                 background-color: color-themes.$secondary-color--hover;
    //             }
    //         }
    //     }

    // }
}

.chapter-content {
    @include utils.card;

    flex: 1;
    padding: vars.$padding-small;
    // background-color: red;flex: 1;

    @media only screen and (max-width: vars.$media-query-size-big) {
        
    }
}