@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

$padding-small: 1rem;
$padding-big: 3.5rem;
$font-display: "Inconsolata", monospace;
$font: "Space Grotesk", sans-serif;
$font-size: 1rem;
$border-radius: 3px;
$media-query-size-biggest: 2000px;
$media-query-size-big: 820px;
$media-query-size-small: 600px;
$box-shadow: 0px 0px 2px transparentize($color: #777777, $amount: 0.2);