<div class="intrebare-card__header">
    <div class="header__upper">
        <div class="intrebare-card__title">
            <h2>
                Întrebarea
                <span id="question-current">...</span>
                <!-- din <span id="total-questions">1024</span> -->
            </h2>
            <span
                >Categorie:
                <span id="question-category">Toate întrebările</span></span
            >
        </div>
    </div>
</div>
<form class="intrebare-card__body" id="question-form">
    <h3 class="intrebare-card__title" id="question-title"></h3>
    <div class="intrebare-card__contents">
        <ul class="intrebare-card__answers-list" id="question-answers"></ul>
        <div
            class="intrebare-card__image-wrapper"
            id="question-image-wrapper"
        ></div>
    </div>
    <div class="intrebare-card__buttons">
        <button type="button" id="question-modify-answers">
            Modifică răspunsul
        </button>
        <button type="submit" class="button button--secondary">Răspunde</button>
        <a class="button" id="question-next">Următoarea întrebare</a>
    </div>
</form>
