<div class="intrebare-card__header">
    <div class="header__upper">
        <div class="intrebare-card__title">
            <h2>
                Întrebarea
                <span id="question-current">...</span>
                <!-- din <span id="total-questions">1024</span> -->
            </h2>
            <span
                >Categorie:
                <span id="question-category">Toate întrebările</span></span
            >
        </div>
    </div>
</div>
<form class="intrebare-card__body" id="question-form">
    <h3 class="intrebare-card__title" id="question-title">
        <!-- Care dintre indicatoare te avertizează că urmează să intersectezi un drum fără prioritate? -->
    </h3>
    <div class="intrebare-card__contents">
        <ul class="intrebare-card__answers-list" id="question-answers">
            <!-- <li class="intrebare-card__answer">
            <input type="checkbox" name="option-a" id="option-a">
            <label for="option-a" id="option-a-label">indicatorul 1</label>
            </li>
            <li class="intrebare-card__answer">
            <input type="checkbox" name="option-b" id="option-b">
            <label for="option-b" id="option-b-label">indicatorul 2</label>
            </li>
            <li class="intrebare-card__answer">
            <input type="checkbox" name="option-c" id="option-c">
            <label for="option-c" id="option-c-label">ambele</label>
            </li> -->
        </ul>
        <div class="intrebare-card__image-wrapper" id="question-image-wrapper">
            <!-- <img src="img/intrebare_image.jpg" alt=""> -->
        </div>
    </div>
    <div class="intrebare-card__buttons">
        <button type="button" id="question-modify-answers">
            Modifică răspunsul
        </button>
        <button type="submit" class="button button--secondary">Răspunde</button>
        <a class="button" id="question-next">Următoarea întrebare</a>
    </div>
</form>
